{% block breadcrumbs %}
<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('app_topic_list') }}">Topics</a></li>
    <li class="breadcrumb-item">{{ Topic.name }}</li>
</ul>
{% endblock %}